.cover__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  align-self: center;
  margin: 0;
  white-space: pre-line;
}

.cover__subtitle:first-of-type {
  display: none;
}
.cover__subtitle:last-of-type {
  display: block;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle:first-of-type {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle:last-of-type {
    display: none;
  }
}
