.footer__links {
  display: flex;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: opacity 1s ease;
}

.footer__links:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
    margin: 0 0 48px;
  }
}
