.places__url-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #aaaaaa;
  letter-spacing: 0.2rem;
  margin: 0 0 12px;
}

@media screen and (max-width: 768px) {
  .places__url-heading {
    line-height: 12px;
  }
}
